@import "variables";

.footer {
    position:relative;
    background-color: $primary-colour;
    color: $primary-text;
    max-width: 100vw;
    width: 100%;

    .footer-links {
        padding: 30px 20% 20px;
        display: flex;
        &__icon {
            width: 44px;
            height: auto;
            margin: 0 auto;
        }
    }

    .footer-info {
        display: flex;
        padding: 10px 0 10px;

        &__text {
            margin: 0 auto;
        }
    }

}

